import 'dart:io';

Map<String, List<Map<String, dynamic>>> menu = {
  "Breakfast": [],
  "Lunch": [],
  "Dinner": []
};

void main() {

  print("Enter Admin Name:");
  String admin = stdin.readLineSync()!;

  print("Welcome Admin $admin");

  while (true) {

    print("\n===== MAIN MENU =====");
    print("1 Admin Panel");
    print("2 User Order");
    print("3 Exit");

    String choice = stdin.readLineSync()!;

    if (choice == "1") {
      adminPanel();
    } 
    else if (choice == "2") {
      userOrder();
    } 
    else if (choice == "3") {
      break;
    }

  }

}

//////////////// ADMIN PANEL //////////////////

void adminPanel() {

  while (true) {

    print("\n--- ADMIN CRUD ---");
    print("1 Add Dish");
    print("2 View Menu");
    print("3 Update Dish");
    print("4 Delete Dish");
    print("5 Back");

    String choice = stdin.readLineSync()!;

    if (choice == "1") addDish();
    else if (choice == "2") viewMenu();
    else if (choice == "3") updateDish();
    else if (choice == "4") deleteDish();
    else if (choice == "5") break;

  }

}

//////////////// ADD DISH //////////////////

void addDish() {

  String category = selectCategory();

  print("Enter Dish Name:");
  String name = stdin.readLineSync()!;

  print("Enter Price:");
  int price = int.parse(stdin.readLineSync()!);

  print("Available (true/false):");
  bool available = stdin.readLineSync()! == "true";

  menu[category]!.add({
    "dish": name,
    "price": price,
    "available": available
  });

  print("Dish Added!");

}

//////////////// VIEW MENU //////////////////

void viewMenu() {

  menu.forEach((category, dishes) {

    print("\n$category:");

    for (int i = 0; i < dishes.length; i++) {

      var d = dishes[i];

      print("$i ${d['dish']} | Rs ${d['price']} | Available: ${d['available']}");

    }

  });

}

//////////////// UPDATE //////////////////

void updateDish() {

  String category = selectCategory();

  List dishes = menu[category]!;

  for (int i = 0; i < dishes.length; i++) {
    print("$i ${dishes[i]['dish']}");
  }

  print("Enter index:");
  int index = int.parse(stdin.readLineSync()!);

  print("Enter new price:");
  int price = int.parse(stdin.readLineSync()!);

  dishes[index]["price"] = price;

  print("Updated!");

}

//////////////// DELETE //////////////////

void deleteDish() {

  String category = selectCategory();

  List dishes = menu[category]!;

  for (int i = 0; i < dishes.length; i++) {
    print("$i ${dishes[i]['dish']}");
  }

  print("Enter index:");
  int index = int.parse(stdin.readLineSync()!);

  dishes.removeAt(index);

  print("Deleted!");

}

//////////////// USER ORDER //////////////////

void userOrder() {

  String category = selectCategory();

  List dishes = menu[category]!;

  for (int i = 0; i < dishes.length; i++) {

    var d = dishes[i];

    if (d["available"]) {
      print("$i ${d['dish']} - Rs ${d['price']}");
    } else {
      print("$i ${d['dish']} - Not Available");
    }
  }

  print("Select Dish:");
  int index = int.parse(stdin.readLineSync()!);

  var dish = dishes[index];

  if (!dish["available"]) {
    print("Dish Not Available");
    return;
  }

  print("Enter Quantity:");
  int qty = int.parse(stdin.readLineSync()!);

  int total = dish["price"] * qty;

  print("\n===== BILL =====");
  print("Dish: ${dish['dish']}");
  print("Price: ${dish['price']}");
  print("Qty: $qty");
  print("Total: Rs $total");
}

//////////////// CATEGORY SELECT //////////////////

String selectCategory() {

  print("Select Category:");
  print("1 Breakfast");
  print("2 Lunch");
  print("3 Dinner");

  int choice = int.parse(stdin.readLineSync()!);

  if (choice == 1) return "Breakfast";
  if (choice == 2) return "Lunch";
  return "Dinner";
}

